body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 24px;
    background-color: #CCFFFF;
}
h1 {
    font-size: 14px; font-variant: small-caps; color:#ff0000;
    background-color: #00ff00;
}